@import './variables';

@media screen and (min-width: 892px) {
    .topnav a {
        @include set-text(header, large);
    }
}
@media screen and (max-width: 891px) {
    .topnav a {
        @include set-text(header, small);
    }
}

.topnav-container {
    // font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: get-color(main, bg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.topnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    padding: 0;
    margin: 0;

    ul{
        display: flex;
        align-items: center;
        gap: 1em;
        list-style-type: none;
    }
    
    a{
        text-align: center;
        text-decoration: none;
        padding: 12px 10px;
        &:hover, :active{text-decoration: underline;}

        &.active{
            color: get-color(grc-light, primary);
            font-style: italic;
            text-decoration: underline;
        }
    }
}