$palette: (
    main:(
        bg: #FAF9F0,
        link: #211CAD,
        link-hover: #736EF7,
        primary: #172427,
        primary-variant: rgba(23,36,39,0.85),
        accent: #f69051,
        highlight: #FCE04F,
        secondary: #2E27F3,
        secondary-container: #B7C3DA,
        on-secondary-container: #102B60,
        red: #5F161E,
    ),

    neutral: (
        white : #FFF,
        black: #000,
    ),

    grc-light:(
        primary: #172427,
        on-primary: #FFF,
        primary-variant: rgba(23, 36, 39, 0.55),
        primary-container-1: #BABFC1,
        primary-container-2: #99A1A3, //rgba(106, 118, 121, 0.55)
        primary-container-hover: #E9EBEB, //rgba(106, 118, 121, 0.28)
        secondary: #173D87,
        secondary-hover: #3B61A9,
        on-secondary: #FFF,
        secondary-container: #B7C3DA,
        on-secondary-container: #102B60,
        secondary-variant: #1E53BA,
        secondary-variant-hover: #5187F2,
        on-secondary-variant: #FFF,
        on-secondary-variant-2: #E8ECF3,
        tertiary: #E8BB31,
        on-tertiary: #172427,
        tertiary-container: #FFE8A3,
        on-tertiary-continer: #213237,
        red: #CE3041,
        on-red: #FFF,
        red-container: #F2A2AA,
        on-red-container: #5F161E,
        neutral-0: #FFF,
        neutral-1000: #000
    ),

    lassonde: (
        creative: #993366,
        passionate: #cc3333,
        rational: #003366,
        confident: #339999,
        ingenious: #ffcc00,
    ),

    taylorswift:(
        ts-album10: #efc180, // fearless
        ts-album13: #c788e5, // speak now
        ts-album11: #af2b1a, // red
        ts-album14: #5c8bf4, // 1989
        ts-album6: #333341, // reputation
        ts-album7: #d3437d, // lover f7baf6
        ts-album8: #a5a5a5, // folklore bababa
        ts-album9: #7f5a4a, // evermore
        ts-album12: #242e72, // midnights
        ts-album15: #B0A999, //ttpd
    ),

    fitness:(
        move: #FA114F,
        move-rest: #FF3288,
        exercise:#A6FF00,
        exercise-rest:#9EEF05,
        stand:#00FFF6,
        stand-rest:#3EDED8,
    ),
);

$text: ( // size, weight, height, spacing
    header:(
        large: (16px, 800, 20px, 0),
        small: (14px, 800, 16px, 0),
    ),
    heading:(
        1:(40px, 800, 64px, 0),
        1-small:(32px,800,48px, 0),
        2:(32px,800,48px, 0),
        2-small:(27px,800,40px, 0),
        3:(27px,800,40px, 0),
        3-small:(22px,800,32px, 0),
        4:(22px,800,32px, 0),
        4-small:(19px,800,32px, 0),
        5:(19px,800,32px, 0),
        5-small:(16px, 800, 16px, 0),
        6:(16px, 800, 16px, 0),
        6-small:(12px, 800, 24px, 0),
    ),
    body: (
        large: (16px, 400, 28px, 0.5px),
        large-bold: (16px, 800, 28px, 0.5px),
        small: (14px, 400, 24px,0.25px),
        small-bold: (14px,800, 24px,0.25px),

        button: (16px,800,24px,0.5px),
        button-small: (14px, 800, 16px, 0.5px),

        caption: (13px, 400, 20px, 0.35px),
        caption-bold: (13px,800, 20px, 0.35px),
        caption-small: (11px, 400, 16px,0.5px),
        caption-small-bold: (11px, 800, 16px, 0.5px),
        footer: (10px, 400, 16px, 0.5px),
        footer-bold: (10px, 800, 16px, 0.5px),
    ),
    gen-lyric:(
        large: (21px, 600, 32px, 1.5px),
        small: (17px, 600, 28px, 1px),
    ),
    gen-title:(
        title-large: (21px, 600, 28px, 0),
        title-small: (18px, 600, 24px, 0),
        views-large: (16px, 400, 16px, 0),
        views-small: (14px, 400, 16px, 0),
    ),
);

@function get-color($type, $tone){
    @return map-get(map-get($palette, $type), $tone);
}

@mixin set-text($type, $size){
    $text: map-get(map-get($text, $type), $size);
    font-size: nth($text, 1);
    font-weight: nth($text, 2);
    line-height: nth($text, 3);
    letter-spacing: nth($text, 4);
    @if ($type == gen-lyric){ font-family: "Libre Bodoni", serif; }
    @else if($type == gen-title){ font-family: "Roboto", "Arial", sans-serif; }
    @else if ($type == body or $type == heading){ font-family: 'Trebuchet MS'; }
    @else if ($type == header){ font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif; }
    @else{ font-family: 'adobe-garamond-pro'; } 
}


$breakpoints: (
    //
);

// https://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps/
$typo-large: (
    // font-size, line-height, letter-spacing, font-weight
    body : (16px, 24px, 0.5px),
    h1 : (40px, 64px, 0, bold),
    h2 : (36px, 52px, 0, bold),
    h3 : (28px, 44px, 0, bold),
    h4 : (22px, 36px, 0, bold),
    h5 : (19px, 32px, 0, bold),
    h6 : (16px, 24px, 0, bold),
);

$typo-small: (
    // font-size, line-height, letter-spacing, font-weight
    body : (14px, 24px, 0.5px),
    // h1 : (40px, 64px, 0, bold),
    // h2 : (36px, 52px, 0, bold),
    // h3 : (28px, 44px, 0, bold),
    // h4 : (22px, 36px, 0, bold),
    // h5 : (19px, 32px, 0, bold),
    // h6 : (16px, 24px, 0, bold),
);