@charset "UTF-8";
@media screen and (min-width: 892px) {
  .topnav a {
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0;
    font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
  }
}
@media screen and (max-width: 891px) {
  .topnav a {
    font-size: 14px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 0;
    font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
  }
}
.topnav-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #FAF9F0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 10;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  padding: 0;
  margin: 0;
}
.topnav ul {
  display: flex;
  align-items: center;
  gap: 1em;
  list-style-type: none;
}
.topnav a {
  text-align: center;
  text-decoration: none;
  padding: 12px 10px;
}
.topnav a:hover, .topnav a :active {
  text-decoration: underline;
}
.topnav a.active {
  color: #172427;
  font-style: italic;
  text-decoration: underline;
}

/* GLOBAL */
*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#find-me {
  background-color: rgba(23, 36, 39, 0.85);
  border-radius: 10px 0 0 10px;
  position: fixed;
  right: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  padding: 0;
  transition: all 0.4s;
}
#find-me ul {
  gap: 4px;
  padding: 0;
  list-style-type: none;
}
#find-me ul li {
  line-height: 0;
  transition: background-color 0.3s ease;
  border-radius: 10px 0 0 10px;
}
#find-me ul li svg {
  margin: 12px;
  padding: 2px;
  height: 24px;
  width: 24px;
  fill: #FFF;
}
#find-me ul li:first-child {
  border-top-left-radius: 10px;
}
#find-me ul li:last-child {
  border-bottom-left-radius: 10px;
}
#find-me img {
  width: 24px;
  height: auto;
}

body {
  overflow-x: hidden;
}
body .page-banner {
  background-color: #172427;
  color: #FFF;
  text-align: center;
  border-radius: 0 0 8px 8px;
  transition: 0.4s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .page-banner span {
  padding-bottom: 2px;
}
body .page-banner span.highlight-1 {
  background: linear-gradient(to bottom, transparent 50%, lightcoral 50%);
}
body .page-banner span.highlight-2 {
  background: linear-gradient(to bottom, transparent 50%, teal 50%);
}
body .page-banner-items {
  justify-content: center;
  align-items: center;
}
body .page-banner img {
  height: 100%;
  width: 100%;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
body .page-banner ul.breadcrumbs {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
body .page-banner ul.breadcrumbs li {
  position: relative;
}
body .page-banner ul.breadcrumbs li:not(:first-child):before {
  transition: border-left-color 0.4s ease-in;
  position: absolute;
  left: -16px;
  top: calc(50% - 6px);
  border-bottom: 6px solid transparent;
  border-left: 8px solid #FFF;
  border-top: 6px solid transparent;
  content: "";
}

.flex-col {
  display: flex;
  flex-flow: column;
}

@media screen and (max-width: 480px) {
  .topnav-container {
    padding: 0 20px;
    position: absolute;
  }
  .body-content {
    justify-content: center;
    margin: 0 24px;
  }
}
@media screen and (min-width: 892px) {
  #find-me {
    bottom: 140px;
  }
  body {
    margin: 40px auto 0;
  }
  body .topnav-container, body p, body li, body img, body label {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    font-family: "Trebuchet MS";
  }
  body h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: 0;
    font-family: "Trebuchet MS";
  }
  body h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0;
    font-family: "Trebuchet MS";
  }
  body h3 {
    font-size: 27px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0;
    font-family: "Trebuchet MS";
  }
  body h4 {
    font-size: 22px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0;
    font-family: "Trebuchet MS";
  }
  body h5 {
    font-size: 19px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0;
    font-family: "Trebuchet MS";
  }
  body h6 {
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 0;
    font-family: "Trebuchet MS";
  }
  body button#to-top, body figcaption, body figcaption li, body ul.toggle-filters label, body sup, body .footer-primary li, body .footer-secondary a {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.35px;
    font-family: "Trebuchet MS";
  }
  svg {
    width: 24px;
    height: 24px;
  }
  .btn-icon, .btn-secondary, .btn-primary, button#to-top {
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-family: "Trebuchet MS";
    padding: 12px 20px;
  }
  .btn-icon svg, .btn-secondary svg, .btn-primary svg, button#to-top svg {
    top: calc(50% - 12px);
  }
  button#to-top {
    font-size: 13px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.35px;
    font-family: "Trebuchet MS";
    padding: 10px 20px;
    bottom: 40px;
    right: 70px;
    gap: 4px;
  }
  button.panel-control {
    font-size: 13px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.35px;
    font-family: "Trebuchet MS";
    padding: 8px 20px;
  }
  .body-content p, .extra p, figcaption, .panel-control, .panel-container, .section-body ul, .section-body ol, .section-body hr, div.gen-text {
    width: 100%;
  }
  main, .page-banner p.desc, .info-container > .info, .footer-sitemap {
    width: calc(6 * (100% + 24px) / 12 - 24px);
  }
  .topnav-container {
    padding: 0 88px;
  }
  .page-banner {
    padding: 64px 100px;
    gap: 16px;
  }
  .page-banner ul.breadcrumbs {
    gap: 26px;
  }
  .info-container #project-info {
    margin: 40px 0 120px;
  }
  .info-container .info {
    gap: 8px;
    margin: 40px 0 80px;
  }
  footer.footer {
    margin-top: 80px;
    padding: 80px 100px 100px;
  }
  footer.footer li {
    height: 48px;
  }
  .body-content {
    flex-direction: row-reverse;
    margin: 0 100px;
    gap: 24px;
    align-items: flex-start;
  }
  .body-content.landing {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .body-content main {
    gap: 120px;
  }
  .body-content main p.break {
    margin-top: 28px;
  }
  .body-content main p.disclaimer {
    padding: 40px 18px 24px;
    line-height: 32px;
    font-style: italic;
  }
  .body-content main span.highlight {
    padding-bottom: 2px;
    background: linear-gradient(to bottom, transparent 50%, #FCE04F 50%);
  }
  .body-content main section {
    scroll-margin-top: 64px;
    gap: 20px;
  }
  .body-content main section .section-body {
    gap: 16px;
  }
  .body-content main figure {
    padding: 24px 0;
  }
  .body-content main figure.media {
    gap: 12px;
  }
  .body-content main figure.restrict img {
    max-height: 600px;
  }
  .body-content ul, .body-content ol {
    gap: 16px;
    padding-left: 32px;
  }
  .body-content ul li, .body-content ol li {
    line-height: 24px;
  }
  .body-content ul ul, .body-content ul ol, .body-content ol ul, .body-content ol ol {
    width: 100%;
    gap: 8px;
    margin-top: 8px;
  }
  .body-content ul + p, .body-content ol + p {
    padding-top: 8px;
  }
  .body-content figcaption ul, .body-content figcaption ol {
    gap: 8px;
    padding-top: 8px;
    padding-bottom: 12px;
  }
  .body-content .toc {
    font-size: 16px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0.5px;
    font-family: "Trebuchet MS";
    top: 80px;
    position: sticky;
    padding-left: 64px;
  }
  .body-content .toc .toc-label {
    padding-bottom: 8px;
  }
  .body-content .toc ol {
    flex-flow: column nowrap;
    gap: 0;
    padding-left: 3px;
  }
  .body-content .toc ol li {
    font-size: 13px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.35px;
    font-family: "Trebuchet MS";
    line-height: 16px;
    list-style-type: none;
  }
  .body-content .toc ol li::before {
    content: "";
    position: absolute;
    background-color: rgba(23, 36, 39, 0.55);
    width: 1px;
    top: 0;
    bottom: 0;
    left: 0;
  }
  .body-content .toc ol li a {
    vertical-align: top;
    padding: 12px 8px 12px 16px;
    min-height: 48px;
    text-decoration: none;
  }
  .body-content .toc ol li a.in-page-current {
    color: #211CAD;
  }
  .body-content .toc ol li a.in-page-current:after {
    content: "";
    position: absolute;
    background-color: #2E27F3;
    left: 0;
    top: 2px;
    bottom: 2px;
    width: 5px;
  }
  .body-content .toc ol, .body-content .toc li {
    width: -moz-fit-content;
    width: fit-content;
  }
  nav[role=navigation], .extra {
    width: calc(3 * (100% + 24px) / 12 - 24px);
  }
  .extra {
    align-self: flex-end;
  }
  .panel-container .panel {
    margin-top: 16px;
  }
  .entry-list {
    gap: 40px;
  }
  .entry-list .portfolio-entry {
    height: 200px;
    align-items: flex-end;
    justify-content: flex-end;
    border-radius: 8px;
    overflow: hidden;
    gap: 24px;
  }
  .entry-list .portfolio-entry figure {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .entry-list .portfolio-entry figure img {
    border-radius: 0;
    max-height: 100%;
  }
  .entry-list .portfolio-entry-info {
    justify-content: flex-end;
    z-index: 1;
    padding: 8px 16px;
    width: calc(5 * (100% + 24px) / 6 - 24px - 32px);
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
    color: white;
  }
  .entry-list .portfolio-entry-info .desc .fa {
    font-size: 18px;
  }
  .entry-list .portfolio-entry#fs_matcha figure svg {
    margin-left: 40px;
    width: 180px;
    height: 180px;
  }
  section#about-me .section-body {
    flex-direction: column-reverse;
    gap: 24px;
  }
  section#about-me .section-body #about-me-pic {
    width: 280px;
  }
  .early-regex .input {
    margin-top: 8px;
  }
  .early-regex .input input {
    padding: 8px;
    padding-left: 16px;
  }
  .early-regex-result {
    margin: 20px 16px 0;
  }
  #ts-albums .gen-text {
    height: 200px;
    padding: 16px 24px;
  }
  #ts-albums .gen-text #generate-lyric {
    font-size: 21px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 1.5px;
    font-family: "Libre Bodoni", serif;
  }
  #yt-titles .gen-text {
    height: 280px;
    padding: 0 40px;
  }
  #yt-titles .gen-text #generate-title {
    font-size: 21px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0;
    font-family: "Roboto", "Arial", sans-serif;
    padding: 20px 4px 12px;
  }
  #yt-titles .gen-text #generate-views {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    font-family: "Roboto", "Arial", sans-serif;
    padding: 0 4px;
  }
  #yt-titles .gen-text .screen {
    border-radius: 12px;
    height: 120px;
  }
  #yt-titles .gen-text .control {
    padding: 16px 24px;
    border-top-width: 12px;
  }
  #yt-titles .gen-text .control div {
    gap: 16px;
  }
  #yt-titles .gen-text .control div svg {
    width: 20px;
    height: 20px;
  }
  ul.toggle-filters li {
    margin: 0;
    margin-right: 8px;
    line-height: 32px;
  }
  ul.toggle-filters li label {
    padding: 6px 12px;
  }
}
@media screen and (max-width: 1102px) {
  #project-info, nav[role=navigation], .page-banner p.desc, .info-container > .info, .section-title, .body-content p, .extra p, figcaption, .panel-container, .section-body ul, .section-body ol, .section-body hr, div.gen-text, .footer-sitemap {
    width: calc(6 * (100% + 24px) / 8 - 24px);
  }
  .info-container .info {
    margin-bottom: 0;
  }
  .body-content {
    flex-direction: column;
    align-items: center;
    gap: 64px;
  }
  .body-content main {
    width: 100%;
  }
  .body-content .toc {
    border: none;
    position: static;
    padding-left: 0;
  }
  .body-content .toc .toc-label {
    padding-bottom: 16px;
  }
  .body-content .toc ol {
    flex-flow: column wrap;
    max-height: 160px;
    gap: 0;
    justify-content: space-between;
    width: 100%;
    padding-left: 16px;
  }
  .body-content .toc ol li {
    flex: 1;
    min-width: 20%;
    width: auto;
    border: none;
    list-style-type: decimal;
  }
  .body-content .toc ol li::before {
    content: none;
  }
  .body-content .toc ol li a {
    padding: 0;
    text-decoration: underline;
  }
  .body-content .toc ol li a.in-page-current {
    color: #172427;
  }
  .body-content .toc ol li a.in-page-current:after {
    content: none;
  }
  .extra {
    width: 100%;
    align-self: flex-start;
  }
  section#about-me .section-body {
    flex-direction: row;
    gap: 40px;
  }
  section#about-me .section-body #about-me-pic {
    width: 260px;
  }
  .entry-list {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
  }
  .entry-list .portfolio-entry {
    height: 200px;
    justify-content: flex-start;
  }
  .entry-list .portfolio-entry figure {
    height: 200px;
    position: static;
    width: calc(4 * (100% + 24px) / 8 - 24px);
  }
  .entry-list .portfolio-entry figure img {
    border-radius: 0;
    max-height: 100%;
  }
  .entry-list .portfolio-entry-info {
    justify-content: flex-start;
    padding: 8px 16px 0 0;
    width: calc(4 * (100% + 24px) / 8 - 24px);
    height: 100%;
    background: none;
    color: #172427;
  }
  .entry-list .portfolio-entry#fs_matcha figure {
    justify-content: center;
  }
  .entry-list .portfolio-entry#fs_matcha figure svg {
    width: 180px;
    height: 180px;
  }
}
@media screen and (max-width: 891px) {
  #find-me {
    bottom: 164px;
  }
  body {
    margin: 40px auto 0;
  }
  body .topnav-container, body p, body li, body img, body label {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    font-family: "Trebuchet MS";
  }
  body h1 {
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0;
    font-family: "Trebuchet MS";
  }
  body h2 {
    font-size: 27px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0;
    font-family: "Trebuchet MS";
  }
  body h3 {
    font-size: 22px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0;
    font-family: "Trebuchet MS";
  }
  body h4 {
    font-size: 19px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0;
    font-family: "Trebuchet MS";
  }
  body h5 {
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 0;
    font-family: "Trebuchet MS";
  }
  body h6 {
    font-size: 12px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0;
    font-family: "Trebuchet MS";
  }
  body figcaption, body figcaption li, body ul.toggle-filters label, body sup, body .footer-primary li, body .footer-secondary a {
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.5px;
    font-family: "Trebuchet MS";
  }
  body #project-info, body nav[role=navigation], body .page-banner p.desc, body .info-container > .info, body .section-title, body .body-content p, body .extra p, body figcaption, body .panel-container, body .section-body ul, body .section-body ol, body .section-body hr, body div.gen-text, body .footer-sitemap {
    max-width: 499px;
    width: 100%;
  }
  svg {
    width: 16px;
    height: 16px;
  }
  .btn-icon, .btn-secondary, .btn-primary, button#to-top {
    font-size: 14px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 0.5px;
    font-family: "Trebuchet MS";
    padding: 12px 16px;
  }
  .btn-icon svg, .btn-secondary svg, .btn-primary svg, button#to-top svg {
    top: calc(50% - 8px);
  }
  button#to-top {
    font-size: 11px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 0.5px;
    font-family: "Trebuchet MS";
    gap: 4px;
    padding: 12px 20px;
    right: 16px;
    bottom: 16px;
  }
  button.panel-control {
    font-size: 11px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 0.5px;
    font-family: "Trebuchet MS";
    padding: 8px 16px;
  }
  .topnav-container {
    padding: 0 70px;
  }
  .page-banner {
    padding: 40px 70px;
    gap: 8px;
  }
  .page-banner ul.breadcrumbs {
    gap: 27px;
  }
  .info-container {
    margin: 0 70px;
  }
  .info-container #project-info {
    margin: 24px 0 80px;
  }
  .info-container .info {
    margin-top: 24px;
    gap: 4px;
  }
  footer.footer {
    margin-top: 40px;
    padding: 40px 70px 80px;
  }
  footer.footer li {
    height: 40px;
  }
  .body-content {
    gap: 80px;
    margin: 0 70px;
  }
  .body-content.landing {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .body-content ul, .body-content ol {
    gap: 12px;
    padding-left: 28px;
  }
  .body-content ul ul, .body-content ul ol, .body-content ol ul, .body-content ol ol {
    gap: 4px;
    margin-top: 4px;
  }
  .body-content ul + p, .body-content ol + p {
    padding-top: 4px;
  }
  .body-content figcaption ul, .body-content figcaption ol {
    gap: 4px;
    padding-top: 4px;
    padding-bottom: 8px;
  }
  .body-content .toc {
    font-size: 14px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.25px;
    font-family: "Trebuchet MS";
  }
  .body-content .toc li {
    font-size: 11px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 0.5px;
    font-family: "Trebuchet MS";
  }
  .body-content .toc li a {
    height: 36px;
  }
  .body-content main {
    gap: 80px;
  }
  .body-content main p.break {
    margin-top: 24px;
  }
  .body-content main p.disclaimer {
    padding: 24px 16px 16px;
    line-height: 28px;
    font-style: italic;
  }
  .body-content main span.highlight {
    padding-bottom: 2px;
    background: linear-gradient(to bottom, transparent 48%, #FCE04F 48%);
  }
  .body-content main section {
    scroll-margin-top: 64px;
    gap: 16px;
  }
  .body-content main section .section-body {
    gap: 12px;
  }
  .body-content main figure {
    padding: 16px 0 24px;
  }
  .body-content main figure.media {
    gap: 8px;
  }
  .body-content main figure.restrict img {
    max-height: 500px;
  }
  section#about-me .section-body {
    gap: 24px;
  }
  section#about-me .section-body #about-me-pic {
    width: 200px;
  }
  .panel-container .panel {
    margin-top: 12px;
  }
  .early-regex .input {
    margin-top: 4px;
  }
  .early-regex .input input {
    padding: 8px;
    padding-left: 12px;
  }
  .early-regex-result {
    margin: 16px 12px 0;
  }
  #ts-albums .gen-text {
    height: 160px;
    padding: 8px 16px;
  }
  #ts-albums .gen-text #generate-lyric {
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 1px;
    font-family: "Libre Bodoni", serif;
  }
  #yt-titles .gen-text {
    height: 220px;
    padding: 0 24px;
  }
  #yt-titles .gen-text #generate-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
    font-family: "Roboto", "Arial", sans-serif;
    padding: 16px 4px 8px;
  }
  #yt-titles .gen-text #generate-views {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    font-family: "Roboto", "Arial", sans-serif;
    padding: 0 4px;
  }
  #yt-titles .gen-text .screen {
    border-radius: 8px;
    height: 80px;
  }
  #yt-titles .gen-text .control {
    padding: 12px 16px;
    border-top-width: 4px;
  }
  #yt-titles .gen-text .control div {
    gap: 12px;
  }
  ul.toggle-filters li {
    margin: 0;
    margin-right: 4px;
    line-height: 28px;
  }
  ul.toggle-filters li label {
    padding: 6px 12px;
  }
  .entry-list {
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 40px;
  }
  .entry-list .portfolio-entry {
    gap: 20px;
    height: 180px;
    justify-content: flex-start;
  }
  .entry-list .portfolio-entry figure {
    height: 100%;
    position: static;
    width: calc(4 * (100% + 20px) / 8 - 20px);
  }
  .entry-list .portfolio-entry figure img {
    border-radius: 0;
    max-height: 100%;
  }
  .entry-list .portfolio-entry-info {
    justify-content: flex-start;
    padding: 8px 16px 0 0;
    width: calc(4 * (100% + 20px) / 8 - 20px);
    height: 100%;
    background: none;
    color: #172427;
  }
  .entry-list .portfolio-entry-info .desc .fa {
    font-size: 16px;
  }
  .entry-list .portfolio-entry#fs_matcha figure {
    justify-content: center;
  }
  .entry-list .portfolio-entry#fs_matcha figure svg {
    width: 164px;
    height: 164px;
  }
}
@media screen and (max-width: 631px) {
  .topnav-container {
    padding: 0 40px;
  }
  .page-banner {
    padding: 24px 40px;
  }
  .info-container {
    margin: 0 40px;
  }
  .info-container #project-info {
    margin: 24px 0 80px;
  }
  footer.footer {
    padding: 40px 40px 80px;
  }
  footer.footer .footer-secondary {
    padding-right: 24px;
  }
  section#about-me .section-body {
    flex-direction: column-reverse;
  }
  section#about-me .section-body #about-me-pic {
    max-width: 50%;
  }
  .body-content {
    margin: 0 40px;
  }
  .body-content .toc ol {
    max-height: 200px;
  }
  .entry-list {
    gap: 40px;
  }
  .entry-list .portfolio-entry {
    position: relative;
    height: 160px;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .entry-list .portfolio-entry figure {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .entry-list .portfolio-entry-info {
    justify-content: flex-end;
    z-index: 1;
    padding: 8px 16px;
    width: calc(100% - 32px);
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
    color: #FFF;
  }
  .entry-list .portfolio-entry#fs_matcha figure {
    justify-content: flex-start;
  }
  .entry-list .portfolio-entry#fs_matcha figure svg {
    margin-left: 24px;
    width: 180px;
    height: 180px;
  }
}
@media screen and (max-width: 479px) {
  .topnav-container {
    padding: 0 24px;
  }
  .info-container {
    margin: 0 24px;
  }
  .info-container #project-info {
    margin: 24px 0 64px;
  }
  footer.footer {
    padding: 40px 24px 80px;
  }
  .body-content {
    margin: 0 24px;
  }
  #ts-albums .gen-text {
    height: 180px;
    padding: 16px;
  }
  #yt-titles .gen-text {
    height: 240px;
    padding: 0 16px;
  }
  section#about-me .section-body #about-me-pic {
    max-width: 60%;
  }
  .entry-list .portfolio-entry {
    height: 200px;
  }
  .entry-list .portfolio-entry-info {
    width: calc(100% - 8px);
  }
}
@media screen and (min-width: 1150px) {
  .toc ol {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
  }
}
@media (hover: hover), (-ms-high-contrast: none) and (pointer: fine) {
  a:hover {
    color: #736EF7;
  }
  .body-content nav.toc li a:hover {
    text-decoration: underline;
    color: #736EF7;
  }
  #find-me li:hover {
    background-color: #172427;
  }
  button#to-top:hover {
    background-color: #172427;
  }
  .page-banner:hover {
    background-color: #f69051;
    color: #172427;
  }
  .page-banner:hover span.highlight-1 {
    background: linear-gradient(to bottom, transparent 50%, #FCE04F 50%);
  }
  .page-banner:hover span.highlight-2 {
    background: linear-gradient(to bottom, transparent 50%, lightblue 50%);
  }
  .page-banner:hover ul.breadcrumbs li:before {
    border-left-color: #000;
  }
  .btn-primary:hover {
    background-color: #736EF7;
  }
  .entry-list .portfolio-entry:hover {
    box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.3);
    border-radius: 0;
  }
  ul.toggle-filters label:active {
    letter-spacing: 0.8px;
  }
  footer a:hover {
    color: #736EF7;
  }
  footer a:hover svg {
    fill: #736EF7;
  }
}
/* BODY */
body {
  background-color: #FAF9F0;
  color: #172427;
  overflow-x: hidden;
  text-underline-offset: 2px;
}
body li a {
  display: inline-block;
}
body a {
  color: #211CAD;
  transition: color 0.3s;
}
body a:active {
  color: #736EF7;
}
body main ul {
  padding: 0 0 0 32px;
}
body main ul li > * {
  display: inline;
}
body main ul li::marker {
  vertical-align: bottom;
  color: #000;
}
body main code, body main pre {
  font-size: 0.9em;
  line-height: 24px;
  color: #5F161E;
  background-color: #B7C3DA;
  padding: 1px 4px 2px;
  width: 100%;
}

.info-container {
  align-items: center;
}
.info-container .info {
  display: flex;
  align-items: center;
}

.body-content {
  display: flex;
  justify-content: center;
  height: auto;
}
.body-content main section {
  align-items: center;
}
.body-content main section .section-body {
  align-items: center;
}
.body-content main section .section-title {
  text-align: center;
}
.body-content main figure {
  line-height: 0;
}
.body-content main figure, .body-content main figure iframe {
  width: 100%;
}
.body-content main figure .figma {
  height: 500px;
}
.body-content main figure.media {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body-content main figure img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.body-content main .section-note {
  font-size: smaller;
  margin-top: 64px;
}
.body-content .toc, .body-content .extra {
  height: 100%;
}
.body-content ul, .body-content ol {
  display: flex;
  flex-direction: column;
}
.body-content .toc .toc-label {
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
}
.body-content .toc ol {
  display: flex;
  padding: 0 16px;
}
.body-content .toc ol li {
  text-underline-offset: 2px;
  font-weight: bold;
  position: relative;
}
.body-content .toc ol li:first-child:before {
  top: 2px;
}
.body-content .toc ol li:last-child:before {
  bottom: 2px;
}
.body-content .toc ol li a:active {
  text-decoration: underline;
  color: #736EF7;
}
.body-content .toc a {
  color: #172427;
}

.extra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-icon, .btn-secondary, .btn-primary, button#to-top {
  display: flex;
  gap: 8px;
  border-radius: 8px;
  transition: all 0.4s;
  cursor: pointer;
}

button#to-top {
  position: fixed;
  align-items: center;
  border-radius: 100px;
  z-index: 1;
  background-color: rgba(23, 36, 39, 0.85);
  border: none;
  color: #FFF;
}
button#to-top svg {
  fill: #FFF;
}
button#to-top:active {
  background-color: #172427;
}

.btn-primary {
  background-color: #1E53BA;
  color: #FFF;
  border: none;
  box-shadow: 0 10px 18px -8px rgba(16, 43, 96, 0.45);
}
.btn-primary svg {
  fill: white;
}
.btn-primary:active {
  background-color: #736EF7;
}
.btn-primary.panel-control {
  position: relative;
  margin: 16px 0;
  border-radius: 80px;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}
.btn-primary.panel-control svg {
  position: absolute;
  right: 10px;
  transform: rotate(0);
  transition: transform 0.8s;
}
.btn-primary.panel-control svg.rotate {
  transform: rotate(180deg);
}

.btn-secondary {
  background-color: #173D87;
  color: #FFF;
  border: none;
}
.btn-secondary svg {
  fill: white;
}

.btn-icon {
  padding: 0;
  border: none;
  border-radius: 64px;
  background: transparent;
}
.btn-icon-padding {
  padding: 8px;
  line-height: 0;
  transition: background-color 0.2s ease;
}

aside.back-to-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
}

.panel {
  display: none;
  width: 90%;
}
.panel-items, .panel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.panel-items > *, .panel figcaption {
  width: 100% !important;
}

.early-regex {
  width: 100%;
}
.early-regex .input {
  display: flex;
  border: 1px solid #172427;
  gap: 4px;
}
.early-regex .input input {
  border: none;
  background: transparent;
  flex: 1;
}
.early-regex .input input:focus {
  outline: none;
  color: #172427;
}

section#about-me .section-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
section#about-me .section-body #about-me-info ul {
  list-style: none;
  width: 100%;
  padding-left: 0;
}
section#about-me .section-body #about-me-info ul li {
  position: relative;
}
section#about-me .section-body #about-me-info ul li:before {
  display: inline-block;
  width: 18px;
  text-align: center;
  margin-right: 10px;
}
section#about-me .section-body #about-me-info ul li:nth-child(1):before {
  content: "👤";
}
section#about-me .section-body #about-me-info ul li:nth-child(2):before {
  content: "📍";
}
section#about-me .section-body #about-me-info ul li:nth-child(3):before {
  content: "📚";
}
section#about-me .section-body #about-me-info ul li:nth-child(4):before {
  content: "🎓";
}
section#about-me .section-body figure#about-me-pic {
  padding: 0;
}

#tinder-bio blockquote {
  font-style: italic;
  font-weight: 600;
}
#tinder-bio #school-pic {
  width: 40%;
  height: auto;
}
#tinder-bio span {
  font-weight: bold;
}
#tinder-bio span#creative {
  color: #993366;
}
#tinder-bio span#passionate {
  color: #cc3333;
}
#tinder-bio span#rational {
  color: #003366;
}
#tinder-bio span#confident {
  color: #339999;
}
#tinder-bio span#ingenious {
  color: #ffcc00;
}
#tinder-bio p {
  text-align: center;
}

.project-showcase {
  margin-left: 20%;
  line-height: 200%;
}
.project-showcase h2 {
  margin-top: 5%;
}
.project-showcase section {
  padding-top: 2%;
}

#project-info {
  scroll-margin-top: 64px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px 20px;
  text-align: center;
  margin: 0 var(--margin-desktop);
  font-family: monospace, "Courier New", Courier;
}

.project-info-item {
  min-width: 100px;
}
.project-info-item .subtitle {
  font-weight: bold;
}

.entry-list .portfolio-entry {
  position: relative;
  transition: all 0.4s;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.2);
}
.entry-list .portfolio-entry:active {
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.3);
  border-radius: 0;
}
.entry-list .portfolio-entry > a {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 2;
}
.entry-list .portfolio-entry-info {
  text-align: end;
  gap: 8px;
}
.entry-list .portfolio-entry-info .desc {
  width: 100%;
}
.entry-list .portfolio-entry-thumbnail {
  padding: 0 !important;
}
.entry-list .portfolio-entry-thumbnail img {
  transition: all 0.4s;
  min-height: 100%;
}
.entry-list .portfolio-entry#fs_matcha figure {
  background-color: #B7C5C8;
  display: flex;
  align-items: center;
}
.entry-list .portfolio-entry#fs_matcha figure svg path {
  fill: #135842;
}

ul.toggle-filters {
  display: block;
  list-style: none;
  padding-left: 0;
}
ul.toggle-filters li {
  display: inline;
  padding: 0;
}
ul.toggle-filters li label {
  display: inline-block;
  outline: 1px solid #172427;
  outline-offset: -1px;
  border-radius: 16px;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.4s;
  cursor: pointer;
  line-height: 100%;
  white-space: normal;
}
ul.toggle-filters li label:active {
  letter-spacing: 0.8px;
}
ul.toggle-filters li input[type=checkbox] {
  display: none;
}
ul.toggle-filters li input[type=checkbox]:checked + label {
  color: #172427;
}
ul.toggle-filters li input[type=checkbox][name=ts-album][id=ts-album10]:checked + label {
  outline: 2px solid #efc180;
  outline-offset: -2px;
  background-color: #efc180;
  color: #FFF;
}
ul.toggle-filters li input[type=checkbox][name=ts-album][id=ts-album13]:checked + label {
  outline: 2px solid #c788e5;
  outline-offset: -2px;
  background-color: #c788e5;
  color: #FFF;
}
ul.toggle-filters li input[type=checkbox][name=ts-album][id=ts-album11]:checked + label {
  outline: 2px solid #af2b1a;
  outline-offset: -2px;
  background-color: #af2b1a;
  color: #FFF;
}
ul.toggle-filters li input[type=checkbox][name=ts-album][id=ts-album14]:checked + label {
  outline: 2px solid #5c8bf4;
  outline-offset: -2px;
  background-color: #5c8bf4;
  color: #FFF;
}
ul.toggle-filters li input[type=checkbox][name=ts-album][id=ts-album6]:checked + label {
  outline: 2px solid #333341;
  outline-offset: -2px;
  background-color: #333341;
  color: #FFF;
}
ul.toggle-filters li input[type=checkbox][name=ts-album][id=ts-album7]:checked + label {
  outline: 2px solid #d3437d;
  outline-offset: -2px;
  background-color: #d3437d;
  color: #FFF;
}
ul.toggle-filters li input[type=checkbox][name=ts-album][id=ts-album8]:checked + label {
  outline: 2px solid #a5a5a5;
  outline-offset: -2px;
  background-color: #a5a5a5;
  color: #FFF;
}
ul.toggle-filters li input[type=checkbox][name=ts-album][id=ts-album9]:checked + label {
  outline: 2px solid #7f5a4a;
  outline-offset: -2px;
  background-color: #7f5a4a;
  color: #FFF;
}
ul.toggle-filters li input[type=checkbox][name=ts-album][id=ts-album12]:checked + label {
  outline: 2px solid #242e72;
  outline-offset: -2px;
  background-color: #242e72;
  color: #FFF;
}
ul.toggle-filters li input[type=checkbox][name=ts-album][id=ts-album15]:checked + label {
  outline: 2px solid #B0A999;
  outline-offset: -2px;
  background-color: #B0A999;
  color: #FFF;
}
ul.toggle-filters li input[type=checkbox][name=yt-channel]:checked + label {
  outline: 2px solid #B7C3DA;
  outline-offset: -2px;
  background-color: #B7C3DA;
  color: #102B60;
}

#ts-albums .gen-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #172427;
  color: #FFF;
  font-style: italic;
}

#yt-titles .gen-text {
  background-color: #172427;
  color: #FAF9F0;
}
#yt-titles .gen-text .screen {
  justify-content: flex-end;
  background: linear-gradient(to top, #102B60 60%, rgba(0, 0, 0, 0) 90%);
}
#yt-titles .gen-text .control {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top-style: solid;
  border-top-color: rgba(255, 255, 255, 0.7);
}
#yt-titles .gen-text .control svg {
  fill: #FFF;
}
#yt-titles .gen-text .control div {
  display: flex;
}

#dailyui {
  margin-top: 20%;
}

.daily-notes {
  font-style: italic;
  font-family: sans-serif;
  font-weight: 500;
}

.final-designs_img-title {
  padding-top: 10%;
  font-size: 1.2vw;
  text-align: left;
  font-style: italic;
  font-family: sans-serif;
  font-weight: 500;
}

.final-designs_dailyui {
  width: 100%;
  height: auto;
}

span.fitness {
  padding: 2px 8px;
  background-color: #000;
  font-weight: 600;
  border-radius: 8px;
  font-size: 80%;
  line-height: normal;
  letter-spacing: 1.2px;
}
span.move {
  color: #FA114F;
}
span.move-rest {
  color: #FF3288;
}
span.move-rest2 {
  color: #5AE6B5;
}
span.exercise {
  color: #A6FF00;
}
span.exercise-rest {
  color: #9EEF05;
}
span.exercise-rest2 {
  color: #A167FB;
}
span.stand {
  color: #00FFF6;
}
span.stand-rest {
  color: #3EDED8;
}
span.stand-rest2 {
  color: #FF5B66;
}

footer.footer {
  display: flex;
  justify-content: center;
  background: #B7C3DA;
}
footer.footer ul {
  list-style-type: none;
}
footer.footer ul li, footer.footer ul a {
  transition: color 0.4s ease;
  color: #102B60;
}
footer.footer .footer-sitemap {
  display: flex;
  justify-content: space-between;
}
footer.footer .footer-sitemap .footer-primary li, footer.footer .footer-sitemap .footer-secondary a {
  display: flex;
  align-items: center;
  gap: 0;
}
footer.footer svg {
  transition: fill 0.4s ease;
  fill: rgba(23, 36, 39, 0.85);
}
footer.footer a:active {
  color: #736EF7;
}
footer.footer a:active svg {
  fill: #736EF7;
}/*# sourceMappingURL=styles.css.map */